# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - The dataset is provided inside the `data` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary.

In [46]:
import pandas as pd
import numpy as np

#### Open the ` Employee.csv` file and name your dataset `employee`.

In [59]:
employee = pd.read_csv(r'C:\Users\aleks\Desktop\Lessons\Week_3\Day_3\Afternoon\lab-pivot-table-and-correlation\your_code\data\Employee.csv')
employee.head()

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55

#### What's the mean salary by department?
Hint : There are 2 ways to do it - one way is with groupby and the other way is with pivot tables. Do it both ways.

In [48]:
# Method 1
# your answer here

mean_salary_by_dept = employee.groupby('Department')['Salary'].mean()

print(mean_salary_by_dept)

Department
HR       45.00
IT       48.75
Sales    55.00
Name: Salary, dtype: float64

In [49]:
# Method 2
# your answer here

pivot_table1 = pd.pivot_table(employee, values='Salary', index=['Department'], aggfunc='mean')

pivot_table1

            Salary
Department
HR           45.00
IT           48.75
Sales        55.00

#### We want now to group the data by more than one column. Use Pandas pivot table function to select the mean salary by department and title.

In [50]:
# your answer here

pivot_table2 = pd.pivot_table(employee, values='Salary', index=['Department', 'Title'], aggfunc='mean')

pivot_table2

                      Salary
Department Title
HR         VP           70.0
           analyst      32.5
IT         VP           70.0
           analyst      32.5
           associate    60.0
Sales      associate    55.0

#### We want to display the number of years of work experience and the salary for each Title. Add Years as a column in your pivot table.
*Hint: Use Pandas doc(see References in README.md) to explore the pivot_table() arguments*

In [51]:
# your answer here

pivot_table3 = pd.pivot_table(employee, values='Salary', index=['Title'], columns=['Years'], aggfunc='mean')

pivot_table3

Years         1     2     3     4     7     8
Title
VP          NaN   NaN   NaN   NaN   NaN  70.0
analyst    35.0  30.0   NaN  35.0   NaN   NaN
associate   NaN  55.0  55.0   NaN  60.0   NaN

#### We want to know the information about the mean salary and number of employees in each department and for each job title.

In [52]:
# your answer here

pivot_table4 = employee.pivot_table(index= ['Department','Title'],values=['Salary', 'Name'],aggfunc = {'Salary':'mean','Name':'count'}).rename(columns={'Salary':'Mean Salary','Name':'Num Employees'}).reset_index()
pivot_table4.head()

  Department      Title  Num Employees  Mean Salary
0         HR         VP              1         70.0
1         HR    analyst              2         32.5
2         IT         VP              1         70.0
3         IT    analyst              2         32.5
4         IT  associate              1         60.0

#### We want to know for each department and for each job title the Salary's median, minimum, maximum and standard deviation. Comment your results.

In [53]:
# your answer here

pivot_table5 = pd.pivot_table(employee, values='Salary', index=['Department', 'Title'], aggfunc=['median', 'min', 'max', 'std'])
pivot_table5

                     median    min    max       std
                     Salary Salary Salary    Salary
Department Title
HR         VP          70.0     70     70       NaN
           analyst     32.5     30     35  3.535534
IT         VP          70.0     70     70       NaN
           analyst     32.5     30     35  3.535534
           associate   60.0     60     60       NaN
Sales      associate   55.0     55     55  0.000000

#### Based on your comments, fill the missing values with an appropriate value.

In [57]:
# your answer here

employee['salary'] = employee['salary'].fillna(0)

employee.to_csv('employee.csv', index=False)

KeyError: 'salary'

#### The stake holders want to know for each department the number of employees and how much money is spend on salaries. Could you provide that information?

In [ ]:
# your answer here

department_info = employee.groupby('Department').agg({'Salary': ['sum', 'count']})
department_info.columns = ['Total Salary', 'Number of Employees']

#### For each Department and Title, we want to know the the total years of work experience and the mean salary.

In [61]:
# your answer here
pivot_table7 = employee.pivot_table(index= ['Department','Title'],values=['Salary', 'Name'],aggfunc = {'Salary':'mean','Years':'count'}).rename(columns={'Salary':'Mean Salary','Name':'Years of Experience'}).reset_index()

KeyError: "Column(s) ['Years'] do not exist"

### Bonus

#### We now want to compute the mean salary after removing the maxima for each Department. Create the appropriate pivot table.

Hint: Write a custom function.

In [ ]:
# your answer here